body { 
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
	font-size: small;
	margin: 5px;
}

a {	
	color: darkblue;
}

a:visited {	
	color: darkblue; 
}

.shoppingCart {
	border: 1px solid #ccc;
	width: 200px;
	height: 100px;
	float: right;
	margin-top: 10px;
}

.cartHeader
{
	background-color: #6CAF00;
	color: white;
	font-size: 100%;
	padding: 3px 0 3px 3px;
}

.cartItem, .cartTotal {
	font-size: 90%;
	margin: 10px 0 0 5px;
}

.cartTotal {
	font-weight: bold;
}


.enterCart
{
	background-color: #EDFFCF;
}

.book {
	float: left;
	width: 100px;
	font-size: 90%;
	margin: 10px;
}


.flowPanel {
	float: left;
	width: 450px;
}
