body {
	font-size: small;
}

.mainPanel {
	margin: 10px 0 0 15px;
}

.lyrics
{
	font-size: small;
	margin-left: 20px;
}

.lyrics p, .nowPlaying
{
	font-size: 95%;
	margin-top: 5px;
}

.topArea {
	margin-bottom: 10px;
}

.stopSongBtn {
	margin-top: 10px;
}

#loading-indicator {
  position: absolute;
  left: 45%;
  top: 55%;
  margin-left: -45px;
  padding: 5px;
  z-index: 20001;
  height: auto;
  border: 1px solid #ccc;
  background: #fff;
}

.loading-img {
	padding-right: 5px;
}