body {
	font-size: small;
}

.mainPanel {
	margin: 10px 0 0 15px;
}

.lyrics
{
	font-size: small;
	margin-left: 20px;
}

.lyrics p, .nowPlaying
{
	font-size: 95%;
	margin-top: 5px;
}

.topArea {
	margin-bottom: 10px;
}

.stopSongBtn {
	margin-top: 10px;
}